<img src="<%- 'profile.png' %>" itemprop="image" class="profile_img">
<center><meta>
<time datetime="<%= date_xml(stage_date(page.tag)) %>" itemprop="datePublished"><%= date(stage_date(page.tag), config.date_format) %></time></meta>
</center>
<br>
<div>
              <%- list_posts_stage(page.posts,{stage:page.tag}) %>
</div>
<br>