#tag-cloud
  .tag-cloud-title
    color: $color-meta
  .tag-cloud-tags
    clear: both
    text-align: center
    a
      color: var(--color)
      background-image: none
      display: inline-block
      margin: 10px

.archive
  display: table
  border: 1px solid $color-accent-1
  text-align: center
  
  .archive-phase-item
    border: 1px solid #2bbc8a;

  th
    background-color: #2bbc8a5e
    font-weight: bold

.archive-profile
  display: block;
  text-align: -webkit-center;
  
  img
    max-width: 200px
    margin: 0 auto
  p
    color: $color-meta
    text-align: -webkit-center